body {
    /* outline: red solid 2px; */
}
.container {
    
    text-align: center;
}
h1 {
    margin: 30px;
    margin-right: 530px;
    margin-left: 530px;
}
ul {
    list-style: none;
    font-size: 19px;
    margin-right: 530px;
    margin-left: 530px;
    padding: 0px;
    
}
li {
    display: block;
}
a {
    color: rgb(226, 135, 30);
    
    
    text-decoration: none;
    /* outline: red solid 2px; */
}
a:hover {
    color: rgb(6, 6, 49);
}