* {
    /* outline: red solid 2px; */
    padding: 0px;
}
/* the parent div */
.container {
    text-align: center;
}
h1 {
    font-size: 30px;
    margin-right: 33.3%;
    margin-left:  33.3%;
}
ul {
    list-style: none;
    font-size: 19px;
    margin-right: 33.3%;
    margin-left:  33.3%;
}
li {
    display: block;
    padding-bottom: 20px;
}
a {
    color: rgb(226, 135, 30);
    text-decoration: none;
    /* outline: red solid 2px; */
}
a:hover {
    color: rgb(6, 6, 49);
}